# Terraform local files & state
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
crash.log

# Allow example files and environment tfvars explicitly needed in git
!terraform/env/*.tfvars
!terraform/terraform.tfvars.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.pytest_cache/
*.db
.env

# Docker & IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store